.header {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 30px;
  }

  &__pop-btn {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
