@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
